{%- set
  theme_colors = {
    'resolved' : '2DC72D',
    'firing' : '8C1A1A'
  }
-%}

{
    "@type": "MessageCard",
    "@context": "http://schema.org/extensions",
    "themeColor": "{% if status=='resolved' %} {{ theme_colors.resolved }} {% else %} {{ theme_colors.firing }} {% endif %}",
    "summary": "{% if status=='resolved' %}(Resolved) {% endif %}{{ msg_text.name }}",
    "sections": [{
        "activityTitle": "<h1>{% if status=='resolved' %} &#x1F60E; Problem resolved {% else %} &#x26A1; Problem detected {% endif %}</h1>",
        "text": "{% if status=='resolved' %}<strike>{{ msg_text.extra_annotations.error }}</strike> {% else %} {{ msg_text.extra_annotations.error }} {% endif %}",
        "facts": [{% if msg_text.instance!='unknown' %}{
            "name": "In host",
            "value": "{{ msg_text.instance }}"
        },{% endif %}{
            "name": "Status",
            "value": "{{ msg_text.status }}"
        }],
        "markdown": true
    }]
}
