.env
.idea/*
config/alertmanager/alertmanager.yml
config/loki/alert-rules.yml
config/prometheus/generated
config/nginx/.htpasswd
config/__pycache__/*
config/buildkite.env
config/grafana/grafana.ini
hdb-credentials
.history
.venv
.vscode
