groups:
  - name: proxy
    rules:
      - alert: ProxyDown
        labels:
          frequency: "high"
        expr: up{job="proxy-metrics"} == 0
        for: 5m
        annotations:
          error: "Montagu on {{ $labels.instance }} is down"

  - name: packit-api
    rules:
      - alert: PackitAPIDown
        expr: up{job="packit-api"} == 0
        for: 5m
        annotations:
          error: "PackitAPI on {{ $labels.instance }} is down"

  - name: outpack-server
    rules:
      - alert: OutpackServerDown
        expr: up{job="outpack-server"} == 0
        for: 5m
        annotations:
          error: "OutpackServer on {{ $labels.instance }} is down"

  - name: buildkite-metrics
    rules:
      - alert: BuildkiteMetricsDown
        expr: up{job="buildkite-metrics"} == 0
        for: 5m
        annotations:
          error: "buildkite-agent-metrics is down"
      - alert: DefaultAgentsDown
        expr: buildkite_queues_total_agent_count{queue="default"} < 8
        for: 5m
        annotations:
          error: "Buildkite has fewer than 8 default agents"
      - alert: NcovAgentDown
        expr: buildkite_queues_total_agent_count{queue="ncov-cdi"} < 1
        for: 5m
        annotations:
          error: "Buildkite ncov CDI agent is down"

  - name: disk-usage
    rules:
      - alert: DiskNearlyFull
        expr: (100 - (avg_over_time(node_filesystem_avail_bytes{job="machine-metrics", fstype!="cifs"}[1h]) * 100) / avg_over_time(node_filesystem_size_bytes[1h])) > 80
        for: 5m
        annotations:
          error: "Mountpoint {{ $labels.mountpoint }} on {{ $labels.instance }} is over 80% full"
          playbook: https://github.com/vimc/montagu-monitor/blob/master/playbooks/DiskNearlyFull.md

  - name: redis
    rules:
      - alert: RedisExporterDown
        expr: up{job="redis"} == 0
        for: 5m
        annotations:
          error: "redis-exporter is down: {{ $labels.instance }}"

      - alert: RedisDown
        expr: redis_up{job="redis"} == 0
        for: 5m
        annotations:
          error: "redis is down: {{ $labels.instance }}"

  - name: blackbox
    rules:
      - alert: BlackBoxHttpDown
        expr: up{job="blackbox-http"} == 0
        for: 5m
        annotations:
          error: "blackbox-http scrape is down: '{{ $labels.instance }}'"

      - alert: BlackBoxProbeFailed
        expr: probe_success == 0
        for: 5m
        annotations:
          error: "probe failed: '{{ $labels.instance }}'"

      # The standard certbot configuration is to renew 30 days before expiry.
      # We give it an extra week or so before
      - alert: CertificateExpiry
        expr: probe_ssl_earliest_cert_expiry - time() < 21d
        annotations:
          error: "certificate expires in {{ humanizeDuration .Value }}: '{{ $labels.instance }}'"

      - alert: AcmeBuddyCertificateNotLoaded
        expr: |
          acme_buddy_certificate_info unless on(fingerprint_sha256) probe_ssl_last_chain_info
        for: 5m
        annotations:
          error: "certificate obtained by acme-buddy was not loaded: '{{ $labels.domain }}'"
          playbook: https://github.com/vimc/montagu-monitor/blob/master/playbooks/AcmeBuddyCertificateNotLoaded.md
