global:
  # This is the Prometheus default already, but lets be explicit about it.
  scrape_interval: 1m

alerting:
  alertmanagers:
    - path_prefix: "alertmanager/"
      static_configs:
        - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: 'prometheus'
    # This needs to match the web.external-url flag we use to run prometheus.
    metrics_path: /prometheus/metrics
    static_configs:
      - targets: ['127.0.0.1:9090']

  - job_name: 'alertmanager'
    metrics_path: /alertmanager/metrics
    static_configs:
      - targets: ['alertmanager:9093']

  - job_name: 'grafana'
    metrics_path: /grafana/metrics
    static_configs:
      - targets: ['grafana:3000']

  - job_name: 'proxy-metrics'
    static_configs:
      - targets: ['montagu.vaccineimpact.org:9113', 'uat.montagu.dide.ic.ac.uk:9113', 'science.montagu.dide.ic.ac.uk:9113']
    relabel_configs:
      # Override the default instance name to remove the port
      - source_labels: [ __address__ ]
        regex: (.+):(.+)
        target_label: instance
        replacement: $1

  - job_name: 'packit-api'
    metrics_path: /metrics/packit-api
    scheme: http
    static_configs:
      - targets: ['montagu.vaccineimpact.org:9000', 'science.montagu.dide.ic.ac.uk:9000']
        labels:
          frequency: high
          project: montagu
      - targets: ['uat.montagu.dide.ic.ac.uk:9000']
        labels:
          frequency: low
          project: montagu
      - targets:
        - reside-dev.packit-dev.dide.ic.ac.uk:9000
        - kipling.packit-private.dide.ic.ac.uk:9000
        - priority-pathogens.packit.dide.ic.ac.uk:9000
        - reside.packit.dide.ic.ac.uk:9000
        - malariaverse-sitefiles.packit.dide.ic.ac.uk:9000
        - training.packit.dide.ic.ac.uk:9000
        - eppi-vulnerability-index.packit.dide.ic.ac.uk:9000
    relabel_configs:
      # Override the default instance name to remove the port
      - source_labels: [__address__]
        regex: (.+):(.+)
        target_label: instance
        replacement: $1

  - job_name: 'outpack-server'
    metrics_path: /metrics/outpack_server
    scheme: http
    static_configs:
      - targets: ['montagu.vaccineimpact.org:9000', 'science.montagu.dide.ic.ac.uk:9000']
        labels:
          frequency: high
      - targets: ['uat.montagu.dide.ic.ac.uk:9000']
        labels:
          frequency: low
      - targets:
        - reside-dev.packit-dev.dide.ic.ac.uk:9000
        - kipling.packit-private.dide.ic.ac.uk:9000
        - priority-pathogens.packit.dide.ic.ac.uk:9000
        - reside.packit.dide.ic.ac.uk:9000
        - malariaverse-sitefiles.packit.dide.ic.ac.uk:9000
        - training.packit.dide.ic.ac.uk:9000
        - eppi-vulnerability-index.packit.dide.ic.ac.uk:9000
    relabel_configs:
      # Override the default instance name to remove the port
      - source_labels: [ __address__ ]
        regex: (.+):(.+)
        target_label: instance
        replacement: $1

  - job_name: 'buildkite-metrics'
    static_configs:
    - targets: ['buildkite_metrics:8080']

  - job_name: 'machine-metrics'
    file_sd_configs:
      - files:
        - /etc/prometheus/linux-nodes.yaml
        - /etc/prometheus/gpu-nodes.yaml
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
      - source_labels: [__address__]
        replacement: $0:9100
        target_label: __address__

  - job_name: 'machine-metrics-buildkite'
    file_sd_configs:
      - files: [ /etc/prometheus/generated/buildkite-nodes.json ]
    relabel_configs:
      - source_labels: [__address__]
        replacement: $0:9100
        target_label: __address__
      - target_label: job
        replacement: "machine-metrics"

  - job_name: 'DCGM'
    file_sd_configs:
      - files: [ /etc/prometheus/gpu-nodes.yaml ]
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
      - source_labels: [__address__]
        replacement: $0:9400
        target_label: __address__

  - job_name: 'quota_exporter'
    file_sd_configs:
      - files: [ /etc/prometheus/gpu-nodes.yaml ]
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
      - source_labels: [__address__]
        replacement: $0:10018
        target_label: __address__

  # We run a couple of "multi-target exporters", that expose a different service
  # as prometheus metrics. This scrape job collects the exporters' own metrics.
  - job_name: 'exporter'
    metrics_path: /metrics
    static_configs:
      - targets:
          - blackbox-exporter:9115
          - redis-exporter:9121

  - job_name: 'redis'
    static_configs:
      - targets: ['redis://wpia-hn.hpc.dide.ic.ac.uk']
    metrics_path: /scrape

    # See https://github.com/oliver006/redis_exporter/blob/master/README.md#prometheus-configuration-to-scrape-multiple-redis-hosts
    # This rewrites the metrics URL as redis-exporter:9115/scrape?target=<...>
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
        regex: .+://(.+)
        replacement: $1
      - target_label: __address__
        replacement: redis-exporter:9121

  - job_name: 'blackbox-http'
    metrics_path: /probe
    params:
      module: [http_2xx]
    file_sd_configs:
      - files: [ /etc/prometheus/blackbox-probes.yaml ]

    # See https://github.com/prometheus/blackbox_exporter/blob/master/README.md#prometheus-configuration
    # This rewrites the metrics URL as blackbox:9115?target=https://foo.dide.ic.ac.uk
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115

  - job_name: 'windows-exporter'
    file_sd_configs:
      - files: [ /etc/prometheus/generated/hpc-windows-nodes.json ]
    relabel_configs:
      # The HPC nodes sit behind a NAT, meaning we can't pull directly from
      # them. The headnode runs a simple reverse-proxy that we connect to, and
      # use `/metrics/<ip>:<port>` where `<ip>` and `<port>` represent the actual
      # target we want to reach.
      - source_labels: [__address__]
        replacement: /metrics/$0:9182
        target_label: __metrics_path__
      - target_label: __address__
        replacement: wpia-hn.hpc.dide.ic.ac.uk:8000

  - job_name: 'linux-hpc-exporter'
    file_sd_configs:
      - files: [ /etc/prometheus/generated/hpc-linux-nodes.json ]
    relabel_configs:
      - source_labels: [__address__]
        replacement: /metrics/$0:9100
        target_label: __metrics_path__
      - target_label: __address__
        replacement: wpia-hn.hpc.dide.ic.ac.uk:8000
      - target_label: job
        replacement: "machine-metrics"

  - job_name: 'acme-buddy'
    static_configs:
    - targets:
      - beebop.dide.ic.ac.uk:2112
      - beebop-dev.dide.ic.ac.uk:2112
      - bots.dide.ic.ac.uk:2112
      - daedalus.jameel-institute.org:2112
      - daedalus-dev.dide.ic.ac.uk:2112
      - epimodels.dide.ic.ac.uk:2112
      - mint.dide.ic.ac.uk:2112
      - mint-dev.dide.ic.ac.uk:2112
      - shiny.dide.ic.ac.uk:2112
      - vault.dide.ic.ac.uk:2112
      - wodin-dev.dide.ic.ac.uk:2112
      - packit-dev.dide.ic.ac.uk:2112
      - packit-private.dide.ic.ac.uk:2112
      - packit.dide.ic.ac.uk:2112

    relabel_configs:
      # Override the default instance name to remove the port
      - source_labels: [__address__]
        regex: (.+):(.+)
        target_label: instance
        replacement: $1

rule_files:
  - alert-rules.yml
