{{ define "__alert_silence_link" -}}
    {{ .ExternalURL }}/#/silences/new?filter=%7B
    {{- range .CommonLabels.SortedPairs -}}
        {{- if ne .Name "alertname" -}}
            {{- .Name }}%3D"{{- .Value -}}"%2C%20
        {{- end -}}
    {{- end -}}
    alertname%3D"{{- .CommonLabels.alertname -}}"%7D
{{- end }}

{{ define "slack.title" -}}
  [{{ .Status | toUpper -}}] {{ .CommonLabels.alertname }}
{{- end }}

{{ define "__alert_logs_link" -}}
{{- $serviceName := .Labels.container_name | urlquery -}}
{{- $from := (.StartsAt.Add -900000000000).UTC.Format "2006-01-02T15:04:05.000Z" | urlquery -}}
{{- $to := .StartsAt.UTC.Format "2006-01-02T15:04:05.000Z" | urlquery -}}
<{{ printf "%s/grafana/a/grafana-lokiexplore-app/explore/service/%s/logs?var-filters=container_name%%7C%%3D%%7C%s&var-filters=instance_hostname%%7C%%3D%%7C%s&from=%s&to=%s" .Annotations.grafana_base_url $serviceName $serviceName (.Labels.instance_hostname | urlquery) $from $to }}|Logs>
{{- end }}

{{ define "slack.text" -}}
{{- range .Alerts -}}
{{- $showLogsLink := and (eq .Labels.alertname "HighPercentageError") .Labels.container_name .Labels.instance_hostname -}}
* {{ if eq .Status "firing" }}{{ .Annotations.error }}{{ else }}~{{ .Annotations.error }}~{{ end }}{{ if $showLogsLink }} {{ template "__alert_logs_link" . }}{{ end }}
{{ "\n" -}}
{{- end -}}
{{- end }}
