alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

scrape_configs:

  - job_name: 'proxy-metrics'
    static_configs:
      - targets: ['montagu.vaccineimpact.org:9113', 'uat.montagu.dide.ic.ac.uk:9113', 'science.montagu.dide.ic.ac.uk:9113']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: (uat)(.+)(9113)
        replacement: 'UAT'
      - source_labels: [__address__]
        target_label: instance
        regex: (science)(.+)(9113)
        replacement: 'Science'
      - source_labels: [__address__]
        target_label: instance
        regex: (.+)(vaccineimpact)(.+)
        replacement: 'Production'

  - job_name: 'orderly-web'
    metrics_path: /reports/metrics
    scheme: https
    static_configs:
      - targets: ['montagu.vaccineimpact.org', 'science.montagu.dide.ic.ac.uk']
        labels:
          frequency: high
      - targets: ['uat.montagu.dide.ic.ac.uk']
        labels:
          frequency: low
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: (uat)(.+)
        replacement: 'UAT'
      - source_labels: [__address__]
        target_label: instance
        regex: (science)(.+)
        replacement: 'Science'
      - source_labels: [__address__]
        target_label: instance
        regex: (.+)(vaccineimpact)(.+)
        replacement: 'Production'

  - job_name: 'hint'
    scheme: https
    static_configs:
      - targets: ['naomi.unaids.org']

  - job_name: 'hint-dev'
    scheme: https
    static_configs:
      - targets: ['naomi-dev.dide.ic.ac.uk']

  - job_name: 'hint-staging'
    scheme: https
    static_configs:
      - targets: ['naomi-staging.dide.ic.ac.uk']

  - job_name: 'hint-preview'
    scheme: https
    static_configs:
      - targets: ['naomi-preview.dide.ic.ac.uk']

  - job_name: 'aws'
    static_configs:
      - targets: ['aws_metrics:80']

  - job_name: 'bb8'
    static_configs:
      - targets: ['annex.montagu.dide.ic.ac.uk:5001']

  - job_name: 'barman'
    static_configs:
      - targets: ['annex.montagu.dide.ic.ac.uk:5000']

  - job_name: 'barman-remote'
    scrape_timeout: 60s
    scrape_interval: 2m
    ec2_sd_configs: &ec2
      - region: 'eu-west-2'
        access_key: ${aws_access_key_id}
        secret_key: ${aws_secret_key}
    relabel_configs:
      - source_labels: [__meta_ec2_public_dns_name]
        target_label: __address__
        regex: (.+)
        replacement: <%text>$</%text>{1}:5000

  - job_name: 'ec2-machine-metrics'
    ec2_sd_configs: *ec2
    relabel_configs:
      - source_labels: [__meta_ec2_public_dns_name]
        target_label: __address__
        regex: (.+)
        replacement: <%text>$</%text>{1}:9100

  - job_name: 'buildkite-metrics'
    static_configs:
    - targets: ['buildkite_metrics:8080']

  - job_name: 'hint-machine-metrics'
    static_configs:
      - targets: ['naomi.dide.ic.ac.uk:9100', 'wpia-naomi-preview.dide.ic.ac.uk:9100', 'wpia-naomi-dev.dide.ic.ac.uk:9100', 'wpia-naomi-staging.dide.ic.ac.uk:9100']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: (naomi)(.+)
        replacement: 'production'
      - source_labels: [__address__]
        target_label: instance
        regex: (wpia-naomi-preview)(.+)
        replacement: 'preview'
      - source_labels: [__address__]
        target_label: instance
        regex: (wpia-naomi-dev)(.+)
        replacement: 'dev'
      - source_labels: [__address__]
        target_label: instance
        regex: (wpia-naomi-staging)(.+)
        replacement: 'staging'

rule_files:
  - alert-rules.yml
